<!-- <md-tab-group md-stretch-tabs>
  <md-tab>
       <ng-template md-tab-label>
         <div layout="row" layout-align="center center">
           NFe
         </div>
      </ng-template>
<br><br>
     <app-nfe (onSelectedFile)="isNFEsdisable=false"></app-nfe>

  </md-tab>

  <md-tab [disabled]="isNFEsdisable">
       <ng-template md-tab-label>
         <div layout="row" layout-align="center center">
           NFSe
         </div>
      </ng-template>
      <br><br>
       <app-nfse></app-nfse>
  </md-tab>
</md-tab-group> -->
