md-toolbar{
  margin-top: 7%;

}
td-search-box{
  float: right;
}
md-button-toggle{
  color: white;
}
a{
   text-decoration: underline;
}
button{
  width: 100%;
}
.app-receivable-table{
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.11);
  box-shadow: 0px 2px 5px rgba(51, 51, 51, 0.20);
  overflow-y: scroll;
  overflow: hidden;
  overflow-y: scroll;
  height: inherit;
}
.app-recievible-table-title{
  text-align: left;
position: absolute;
left: 10px;
-webkit-margin-before: 0;
-webkit-margin-after: 0;
}
.td-paging-bar[_ngcontent-c11] {
    height: 30px;
}
.app-receivable-table-pagination{
  margin-top: 0px;
  height: 30px;
  margin: 0px;
}
.app-client{
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  font-size: 13px;
}
.app-nfe{
  font-size: 11px;
  color:rgba(0, 0, 0, 0.54);
}
.app-client-column{
    width: 171px !important;
    white-space: nowrap;
}
.app-due-date-column{
  color: #6b6b6b;
    font-size: 13px;
}
.app-date-icon{
  font-size: 14px !important;
}
.app-orginal-value-column{
  font-size: 13px;
}
.app-total-sum-column{
  display: flex;
  padding-top: 7px;
  padding-bottom: 7px;
}
.app-add-receivable_status {
    background-color: #3f51b5 ;
    border: 1px solid #3f51b5 ;
    color: rgba(255, 255, 255, 0.87);
    font-size: 11px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.17), 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 2px;
}
.app-receivable-action{
  display: flex;
}
.app-added-title{
  margin-bottom: 0px;
margin-top: 3px;
font-weight: bold;
}
.app-remove-action{
  margin-top: 0px;
    margin-bottom: 0px;
    font-size: 9px;
    line-height: 6px;
    color: #616161 !important;
    cursor: pointer;
}
.app-remove-action p {
  font-size: 10px;
  color: #ff9933;
  font-weight: 600;
  min-width: 147px;
}
.app-status-missing-date p{
  font-size: 10px;
  color: rgba(0, 0, 0, 0.54);
  min-width: 147px;
}
.app-status-missing-date span{
  font-size: 10px;
  color: rgba(0, 0, 0, 0.87) !important;
}
.app-status-missing-date md-icon{
  vertical-align: bottom;
}
.app-status-no-aproved p{
  font-size: 10px;
  color: rgba(0, 0, 0, 0.54);
  min-width: 147px;
  line-height: 13px;
}
.app-status-no-aproved span{
  font-size: 10px;
  color: rgba(255, 51, 0, 0.87) !important;
}
.app-status-loading{
  color: #969292;
  font-size: 11px;
  text-align: left;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}
.app-status-loading md-icon{
  vertical-align: middle;
  font-size: large;
}
.app-pagination{
  margin: 2px !important;
}