
<div class="session mat-indigo">
  <div class="session-content">
    <div class="session-wrapper">
      <md-card>
        <md-card-content>
          <form [formGroup]="recoveryPasswordForm" (ngSubmit)="recovery()">
            <div class="text-xs-center pb-1">
              <img class="icon-image" src="assets/ico/logo.svg" alt=""/>
              <p class="mat-text-muted">Enter your email and we'll send you instructions on how to reset your password.</p>
            </div>
            <div  fxLayout="column"  fxLayoutAlign="space-around">
              <div class="pb-1">
                <md-input-container style="width: 100%">
                  <input mdInput placeholder="Email address" type="email" [formControl]="recoveryPasswordForm.controls['email']">
                </md-input-container>
                <small *ngIf="recoveryPasswordForm.controls['email'].hasError('required') && recoveryPasswordForm.controls['email'].touched" class="mat-text-warn">You must include an email address.</small>
                <small *ngIf="recoveryPasswordForm.controls['email'].errors?.email && recoveryPasswordForm.controls['email'].touched" class="mat-text-warn">You must include a valid email address.</small>
              </div>
              <div class="pb-1">
                <md-input-container style="width: 100%">
                  <input mdInput placeholder="cnpj" formControlName="cnpj">
                </md-input-container>
                <small *ngIf="recoveryPasswordForm.controls['cnpj'].hasError('required') && recoveryPasswordForm.controls['cnpj'].touched" class="mat-text-warn">Insira cnpj.</small>
              </div>
              <button md-raised-button color="primary" type="submit" [disabled]="!recoveryPasswordForm.valid" (click)="recovery()">Recovery your password</button>
            </div>
            <div class="pt-1 pb-1 text-xs-center">
              <a routerLink="/sign-in" routerLinkActive="active">Access your account</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a routerLink="/sign-up" routerLinkActive="active">Sign up for a new account</a>
            </div>
          </form>
         </md-card-content>
      </md-card>
    </div>
  </div>
</div>
