<!-- <h2>
  <p>TÍTULOS ATIVOS</p>
  Selecione os títulos que deseja antecipar, clicando no botão descontar . Avance para desconto e informe a conta bancária para a transferência.
  Clicando no botão Adicionar recebiveis você poderá fazer upload de CNAB Remessa
</h2>

<td-data-table
  [data]="data"
  [columns]="columns"
  [sortable]="true"
  [sortOrder]="'ASC'"
  [sortBy]="sortBy"
>
  <ng-template tdDataTableTemplate="columnName" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <span flex>{{value}}</span> <span flex>{{row[column]}}</span>
    </div>
  </ng-template>
</td-data-table> -->
