<!-- <table td-data-table>

  <th td-data-table-column *ngFor="let column of columns">
    {{column.label}}
  </th>

  <th td-data-table-column>
      <span>Action</span>
  </th>

  <tr td-data-table-row *ngFor="let row of data">


    <td td-data-table-cell *ngFor="let column of columns">
      {{row[column.name]}}
    </td>

    <td td-data-table-cell>
      <button md-button (click)="openInvoice(row)"><md-icon>visibility</md-icon></button>
      <button md-button  (click)="deleteInvoice(row)"><md-icon>local_drink</md-icon></button>
    </td>

  </tr>
</table> -->
