<!-- <h1>MAXLOG IMPORTACAO E EXPORTACAO</h1>
 <md-divider></md-divider>

<md-tab-group md-stretch-tabs>
  <md-tab>
       <ng-template md-tab-label>
         <div layout="row" layout-align="center center">
           Titulos Ativos
         </div>
      </ng-template>
<br><br>
<app-titulos-ativos></app-titulos-ativos>

  </md-tab>

  <md-tab>
       <ng-template md-tab-label>
         <div layout="row" layout-align="center center">
             Titulos Expirados
         </div>
      </ng-template>
      <br><br>
      ////////////////////
  </md-tab>

  <md-tab>
       <ng-template md-tab-label>
         <div layout="row" layout-align="center center">
           Titulos same nota
         </div>
      </ng-template>
      <br><br>
      ////////////////////
  </md-tab>

</md-tab-group> -->
