<!-- <md-tab-group md-stretch-tabs>
  <md-tab>
       <ng-template md-tab-label>
         <div layout="row" layout-align="center center">
          Aditivos
         </div>
      </ng-template>
<br><br>

<p>
  <b>Contratos por Aditivo</b>
A cada desconto realizado você deverá assinar um contrato de forma online.
</p>
<br><br><br><br>
<app-complete-formulario></app-complete-formulario>
  </md-tab>

  <md-tab>
       <ng-template md-tab-label>
         <div layout="row" layout-align="center center">
            Iniciais
         </div>
      </ng-template>
      <br><br>

      <p>
        <b>Contratos iniciais</b>
      Para os contratos iniciais, você deverá imprimir o contrato, assinar, autênticar e carregar uma cópia para o sistema.
      Alêm disso necessitaremos que você nos envie estes documentos ao endereço: Avenida Angélica, 321, Sala 208,  01227-000, São Paulo.
      </p>
      <br><br><br><br>
      <app-complete-formulario></app-complete-formulario>

  </md-tab>
</md-tab-group> -->
